<h1>Editing Registration</h1>

<%= render 'form', registration: @registration %>
<br><br>
<%= link_to 'Show', @registration,  class:'waves-effect  blue lighten-3 btn-small' %> |
<%= link_to 'Back', events_path,  class:'waves-effect  blue lighten-3 btn-small' %>
