<p id="notice"><%= notice %></p>

<h1>Registrations</h1>

<%= render 'registrations', registrations: @registrations %>


<br>
<%= link_to 'Back', events_path ,  class:'waves-effect  blue lighten-3 btn-small' %>

