<p id="notice"><%= notice %></p>

<h1>Registrations</h1>
<% @registrations.each do |registration| %>
  <%= render 'registration', r: registration %>
<% end %>
<br>
<%= link_to 'Back', events_path ,  class:'waves-effect  blue lighten-3 btn-small' %>

