

<h1>Events</h1>

<div  class="card-panel red lighten-5">
Upcoming Events<br>
<%= render 'events', events: Event.upcoming_events %>
</div>

<div  class="card-panel blue lighten-5">
Past Events<br>
<%= render 'events', events: Event.past_events %>
</div>
<br>

<%= link_to 'New Event', new_event_path , class:'waves-effect  blue lighten-3 btn-small'%>
