<br>
<h5>Welcome! <%= logged_in? ? current_user.email : "Guest" %></h5>
<p  align="center">
<i>Spreading Heaven</i></p>
<br>
<br>
<% if !logged_in? %>
<p align="center"> Please<br>
  <a class="waves-effect  blue lighten-3 btn-small" href="/signup">Sign Up</a><br>
  or<br>
  <a class="waves-effect  blue lighten-3 btn-small" href="/login">Log In</a><br>
  to continue.
</p>
<%end %>